/* main style doc */

:root {
    /* custom properties*/

    /* FONTS */
    --main-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* COLORS */
    --main-bg-color: #f5f5f5;
    --main-font-color: #333;
    --main-high-light-color: #f0f0f0;
    --main-font-color-light: #666;
    --h1-color: #007bff;
    --h1-color-light: #0056b3;
    --h2-color: #007bff;
    --h2-color-light: #0056b3;
    --h3-color: #007bff;
    --h3-color-light: #0056b3;


    /* links */
    --main-link-color: #007bff;
    --main-link-hover-color: #0056b3;
    --main-link-visited-color: #0056b3;
    --main-link-visited-hover-color: #0056b3;

    /* sizes */
    --main-max-width: clamp(1200px, 90%, 1400px);
    --main-font-size: 16px;
}

/* if user prefers dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        /* background colors */
        --main-bg-color: #333;

        /* font colors */
        --main-font-color: #f5f5f5;
        --main-font-color-light: #ccc;
        --main-high-light-color: #444;

        /* link colors */
        --main-link-color: #e810e8;
        --main-link-hover-color: #ff00ff;
        --main-link-visited-color: #ac26ac;
        --main-link-visited-hover-color: #db14db;

        /* header colors */
        --h1-color: #e810e8;
        --h1-color-light: #ff00ff;
        --h2-color: #e810e8;
        --h2-color-light: #ff00ff;
        --h3-color: #e810e8;
        --h3-color-light: #ff00ff;

    }
}

/* phone or tablet */
@media (max-width: 768px) {
    :root {
        --main-max-width: 100%;
    }
}

html {
    scroll-behavior: smooth;
    font-size: var(--main-font-size);
    text-rendering: optimizeLegibility;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body,
button,
input,
select,
textarea {
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
}

/* established types and classes */
body {
    color: var(--main-font-color);
    margin: 0;
    padding: 20px;
    font-size: var(--main-font-size);
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: var(--main-link-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-link-hover-color);
}

span {
    color: var(--main-font-color-light);
    font-style: inherit;
    font-weight: inherit;
}

button {
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-font-color);
    padding: 0.5em 1em;
    border-radius: 5px;
}

button:hover {
    background-color: var(--main-high-light-color);
}

details {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 1em;
    margin: 0 20px;
    border: 1px solid var(--main-high-light-color);
    border-radius: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

details:hover {
    background-color: var(--main-high-light-color);
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

details p {
    margin: 1rem;
    font-size: 14px;
}

canvas {
    display: block;
    margin: 0 auto;
    border: solid 8px grey;
    border-style: ridge;
}

/* custom types and classes */

/* 
* generic flexbox container
 */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: var(--main-max-width);
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}


/* left side of the page */
.container .left,
.container .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    background-color: inherit;
    padding: 20px;
    height: 100vh;
}

.container .middle {
    display: flex;
    flex: 2;
    padding: 20px;
    flex-direction: column;
    background-color: inherit;
    justify-content: baseline;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container .right details {
    position: absolute;
    top: 40%;
}

.controls {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px;
}

.controls input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    color: var(--main-font-color);
    background-color: calc(var(--main-bg-color) * 0.8);
    border: 1px solid var(--main-font-color);
    padding: 0.5em 1em;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.controls input[type=number]:focus {
    background-color: var(--main-high-light-color);
    border: 1px solid var(--main-link-color);
}

.controls .slider {
    width: 100%;
}

.controls .slider label {
    font-size: 1.5em;
    font-weight: bold;
    align-self: center;
}

.controls input[type=range] {
    top: 25%;
    bottom: 25%;
    align-self: center;
}

.navBar {
    z-index: 2;
    display: grid;
    grid-template-columns: [start] 1.5fr [logo-end] 2.5fr [menu-start] 2fr [menu-end] 3fr [social-start] 1fr [social-end];
    grid-template-rows: 60px;
    padding: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    font-family: montserrat;
}

.menuItems {
    z-index: 2;
    grid-column: menu-start/menu-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    font-family: montserrat-bold;
    font-size: larger;
}

.tooltip .tooltiptext {
    z-index: 2;
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.sidebar {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    color: var(--h3-color);
}

.card {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.logo img {
    width: 100%;
    height: auto;
    max-width: 60px;
    max-height: 60px;
}


/* media specific changes */
@media screen and (max-width: 1600px) {
    .navbar {
        grid-template-columns: [start] 1fr [logo-end] 1fr [menu-start] 1fr [menu-end];
    }

    .tooltip .tooltiptext {
        top: -100%;
    }
}

@media screen and (max-height: 1000px) {
    .navbar {
        display: grid;
    }
}